.fo_lg {
  font-size: 1.125rem;
}

.fo_md {
  font-size: 2.5rem;
}

.fo_lmd {
  font-size: 1.5rem;
}

.f_mi {
  font-size: 1.25rem;
}

.f_no {
  font-size: 0.875rem;
}

#totop {
  opacity: 0;
  position: fixed;
  bottom: 50px;
  right: 10px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background: transparent;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  transition: opacity 0.5s;
}
#totop img {
  width: 65px;
}

.inner {
  width: 85%;
  margin: 0 auto;
}

.arrow {
  background: url("../img/arrow_icon.png") no-repeat;
  background-size: 14px 9px;
  width: 14px;
  height: 9px;
  display: inline-block;
  margin: 0 0 0 10px;
}

select {
  background: url("../img/select_arrow.png") no-repeat #fff;
  background-size: 12px 7px;
  background-position: 90% 25px;
  display: inline-block;
}

/* Reveal block */
.reveal-holder {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.reveal-holder .reveal-block {
  position: absolute;
  top: 0;
  width: 100%;
  height: 101%;
  background: white;
}
.reveal-holder .reveal-block::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: lightgray;
  transition-property: transform;
  transition-duration: 0.5s;
}

.reveal-block.gradient::before {
  background: linear-gradient(to left, #eebf56, #f46ca3);
}

.reveal-block.gradient-two::before {
  background: linear-gradient(to left, #1b9edf, #af74c3);
}

.reveal-block.extra {
  background: #1b9edf;
}
.reveal-block.extra::before {
  background: #af74c3;
}

.reveal-block.top.aos-animate::before,
.reveal-block.bottom.aos-animate::before {
  transform: scaleY(1);
}

.reveal-block.left.aos-animate::before,
.reveal-block.right.aos-animate::before {
  transform: scaleX(1);
}

.reveal-block.top::before {
  transform: scaleY(0);
  transform-origin: 0% 100%;
}

.reveal-block.left::before {
  transform: scaleX(0);
  transform-origin: 100% 0%;
}

.reveal-block.right::before {
  transform: scaleX(0);
  transform-origin: 0% 100%;
}

.reveal-block.bottom::before {
  transform: scaleY(0);
  transform-origin: 100% 0%;
}

/* AOS animate */
[data-aos=reveal-top],
[data-aos=reveal-left],
[data-aos=reveal-right],
[data-aos=reveal-bottom] {
  transition-property: transform;
  transition-delay: 0.5s;
}

[data-aos=reveal-top] {
  transform: scaleY(1);
}
[data-aos=reveal-top].aos-animate {
  transform: scaleY(0);
  transform-origin: 100% 0%;
}

[data-aos=reveal-left] {
  transform: scaleX(1);
}
[data-aos=reveal-left].aos-animate {
  transform: scaleX(0);
  transform-origin: 0% 100%;
}

[data-aos=reveal-right] {
  transform: scaleX(1);
}
[data-aos=reveal-right].aos-animate {
  transform: scaleX(0);
  transform-origin: 100% 0%;
}

[data-aos=reveal-bottom] {
  transform: scaleY(1);
}
[data-aos=reveal-bottom].aos-animate {
  transform: scaleY(0);
  transform-origin: 0% 100%;
}

[data-aos=reveal-item] {
  visibility: hidden;
  transition-property: visibility;
  transition-duration: 0s;
}
[data-aos=reveal-item].aos-animate {
  visibility: visible;
}

#header {
  height: 95px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 100;
  -webkit-transition: 200ms ease-in-out;
  -moz-transition: 200ms ease-in-out;
  -o-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  background: #fff;
}
#header .inner {
  position: relative;
}
#header .inner .logo {
  padding: 0;
  margin: 0;
}
#header .inner .navbar-collapse .sns_area {
  display: none;
}
#header .inner .sns_area ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .inner .sns_area ul li {
  margin: 0 15px 0 0;
}
#header .inner .sns_area ul li:last-child {
  margin: 0;
}
#header .inner .navbar {
  height: 100%;
  padding: 0;
  align-items: center;
}
#header .inner .navbar .container-fluid {
  padding: 0;
}
#header .inner .navbar .navbar-toggler {
  box-shadow: none;
  padding: 0;
  border: 0;
}
#header .inner .navbar .navbar-toggler .hamburger-menu {
  width: 36px;
  height: 22px;
  position: relative;
  display: block;
  cursor: pointer;
}
#header .inner .navbar .navbar-toggler .hamburger-menu span {
  display: block;
  position: absolute;
  height: .1444rem;
  width: 100%;
  background-color: #000;
  transition: transform 0.3s ease;
}
#header .inner .navbar .navbar-toggler .hamburger-menu span:nth-child(1) {
  top: 0;
}
#header .inner .navbar .navbar-toggler .hamburger-menu span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
  width: 80%;
  right: 0;
}
#header .inner .navbar .navbar-toggler .hamburger-menu span:nth-child(3) {
  bottom: 0;
}
#header .inner .navbar .navbar-toggler .hamburger-menu.active span:nth-child(1) {
  transform: rotate(45deg) translate(6px, 5px);
}
#header .inner .navbar .navbar-toggler .hamburger-menu.active span:nth-child(2) {
  opacity: 0;
}
#header .inner .navbar .navbar-toggler .hamburger-menu.active span:nth-child(3) {
  transform: rotate(-45deg) translate(9px, -8px);
}
#header .inner #navbarNav .navbar-nav {
  align-items: center;
}
#header .inner #navbarNav .navbar-nav .nav-item a {
  color: #232323;
  margin: 0 20px;
  width: 100%;
  text-align: center;
}
#header .inner #navbarNav .navbar-nav .nav-item a.first b {
  display: block;
  color: #FFBC3A;
}
#header .inner #navbarNav .navbar-nav .nav-item a.first small {
  color: #527201;
}

#footer h3 {
  display: none;
}
#footer .copyright {
  text-align: center;
  padding: 20px 0;
  border-top: 1px solid #707070;
}
#footer > .inner {
  padding: 50px 0;
}
#footer .f_top {
  background: #000;
  padding: 25px 0;
}
#footer .f_top > .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footer .f_top > .inner a {
  color: #fff;
}
#footer .f_wrap {
  display: flex;
  align-items: center;
}
#footer .f_wrap .l_box {
  width: 30%;
  display: flex;
  align-items: center;
}
#footer .f_wrap .f_logo {
  margin: 0 20px 0 0;
}
#footer .f_wrap .address {
  width: 70%;
}
#footer .f_wrap .address ul {
  display: flex;
  margin: 0 0 10px 0;
  flex-wrap: wrap;
}
#footer .f_wrap .address ul:last-child {
  margin: 0;
}
#footer .f_wrap .address ul li {
  padding: 0 30px 0 0;
  display: flex;
  position: relative;
  margin: 0 0 5px 0;
}
#footer .f_wrap .address ul li:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 13px;
  width: 1px;
  height: 100%;
  background: #000;
}
#footer .f_wrap .address ul li:last-child {
  margin: 0;
}
#footer .f_wrap .address ul li:last-child:after {
  display: none;
}

@media (max-width: 1600px) {
  #footer .f_wrap {
    flex-direction: column;
  }
  #footer .f_wrap .l_box {
    width: auto;
    margin: 0 0 30px 0;
  }
  #footer .f_wrap .address {
    width: 100%;
  }
  #footer .f_wrap .address ul {
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 1360px) {
  #header .inner #navbarNav .navbar-nav .nav-item a {
    margin: 0 10px;
  }
}
@media (max-width: 1280px) {
  .f_mi {
    font-size: 1rem;
  }
  .fo_lmd {
    font-size: 1rem;
  }
  .fo_md {
    font-size: 2rem;
  }
  .inner {
    width: 90%;
  }
  #header .inner #navbarNav .navbar-nav .nav-item a {
    margin: 0 15px 0 0;
  }
  #banner .inner .flex {
    width: 35%;
  }
  #banner .inner .flex i {
    max-width: 43px;
    height: 41px;
  }
  #banner .inner .flex i img {
    margin: 10px auto;
    width: 22px;
  }
  #banner .inner .form_box form p.wid {
    width: 27%;
  }
  #banner .inner .form_box form p select {
    padding: 10px;
  }
  #banner .inner .form_box form p input {
    padding: 10px;
  }
}
@media (max-width: 1024px) {
  #header .inner .navbar .container-fluid {
    padding: 0;
  }
  #banner {
    display: none;
  }
}
@media (max-width: 991px) {
  #header .inner .navbar-collapse .sns_area {
    display: block;
    padding: 20px 0;
  }
  #header .inner .sns_area {
    display: none;
  }
  #header .inner #navbarNav {
    box-shadow: -11px 7px 7px rgba(200, 200, 200, 0.5);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background: rgb(255, 255, 255);
    margin-top: 80px;
    border-top: 1px solid #eee;
    z-index: 100;
  }
  #header .inner #navbarNav .nav-item {
    padding: 10px;
    width: 100%;
    margin: 0 20px;
    border-bottom: 1px solid #ddd;
  }
}
@media (max-width: 768px) {
  .fo_lg {
    font-size: 1rem;
  }
  #header {
    height: 75px;
  }
  #header .inner .logo {
    max-width: 90px;
  }
  #header .inner #navbarNav {
    margin-top: 75px;
  }
  #footer h3 {
    display: block;
    color: #fff;
    text-align: center;
    padding: 15px 0;
  }
  #footer h3.on {
    border-bottom: 1px solid #888;
  }
  #footer h3 i {
    position: relative;
  }
  #footer h3 i:after {
    content: "";
    position: absolute;
    left: 17px;
    z-index: 11;
    display: block;
    width: 10px;
    height: 10px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    top: 2px;
    transform: rotate(225deg);
  }
  #footer h3 i.on:after {
    top: 5px;
    transform: rotate(45deg);
  }
  #footer ul {
    flex-direction: column;
  }
  #footer .f_top {
    padding: 0;
  }
  #footer .f_top > .inner li {
    margin: 0 0 15px 0;
  }
  #footer .f_top > .inner li:first-child {
    margin: 15px 0;
  }
}
@media (max-width: 540px) {
  #totop {
    bottom: 20px;
  }
  #totop img {
    width: 35px;
  }
}
@media (max-width: 480px) {
  #header {
    height: 60px;
  }
  #header .inner .logo {
    max-width: 70px;
  }
  #header .inner #navbarNav {
    margin-top: 60px;
  }
  #header .inner .navbar .navbar-toggler .hamburger-menu {
    height: 18px;
    width: 25px;
  }
  #header .inner .navbar .navbar-toggler .hamburger-menu.active span:nth-child(1) {
    transform: rotate(45deg) translate(4px, 5px);
  }
  #header .inner .navbar .navbar-toggler .hamburger-menu.active span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -7px);
  }
  #footer > .inner {
    padding: 30px 0;
  }
  #footer .f_wrap .l_box {
    flex-direction: column;
  }
  #footer .f_wrap .call {
    text-align: center;
    margin: 15px 0 0;
  }
}/*# sourceMappingURL=common.css.map */
